.tp-caption.modern_big_bluebg {
font-size:30px;
line-height:36px;
font-weight:800;
font-family:"Open Sans", sans-serif;
color:rgb(255, 255, 255);
text-decoration:none;
padding:3px 10px;
text-shadow:none;
margin:0px;
letter-spacing:0px;
background-color:rgb(119, 136, 153);
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

