#mobile_detect, .menu-opener, .tel-opener {
    display: none;
}

.xphone_top a {
    color: #ff0000;
    text-decoration: none;
}


@media screen and (max-width: 992px) {


    #mobile_detect {
        display: block;
        height: 0;
    }

    #body_wrapper, .main_content_area, #footer {
        min-width: 320px;
    }

    .col-xxs-1, .col-xxs-2, .col-xxs-2-4, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12, .col-xs-1, .col-xs-2, .col-xs-2-4, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-2-4, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-2-4, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-2-4, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding-left: 10px;
        padding-right: 10px;
    }


    /* header */
    #body_wrapper {
        height: 65px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #FFF;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        z-index: 80;
    }
    body:before {
        content: '';
        display: block;
        height: 65px;
    }

    #header .wide_container {
        padding: 10px 0;
    }

    #logo_wrapper {
        width: 160px;
        margin: 0 auto;
        float: none;
    }

    .menu-opener, .tel-opener {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        height: 45px;
        width: 45px;
        text-decoration: none;
        font-size: 40px;
        color: #3a88ff;
    }
    .menu-opener {
        left: 10px;
    }
    .tel-opener {
        right: 10px;
        justify-content: flex-end;
    }


    /* sidebar */
    #left_column {
        float: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 260px;
        height: 100%;
        overflow: auto;
        transform: translateX(-300px);
        transition: all 0.3s ease;
        z-index: 91;
        padding: 0;
        background-color: #FFF;
    }
    .menu-opened #left_column {
        transform: translateX(0);;
    }

    #st_mega_menu li {
        float: none;
    }
    #st_mega_menu li .stmenu_sub {
        display: none !important;
    }
    #st_mega_menu li .icon-down-dir-2, #st_menu_4 {
        display: none;
    }

    #left_column .title_block {
        display: none;
    }

    #layered_block_left {
        padding: 0 10px;
    }

    #search_block_top .search_query {
        width: 195px;
    }


    /* tels */
    #header_right {
        float: none;
        position: fixed;
        right: 0;
        top: 0;
        width: 200px;
        height: 100%;
        overflow: auto;
        transform: translateX(200px);
        transition: all 0.3s ease;
        z-index: 91;
        padding: 0;
        background-color: #FFF;
    }
    .tel-opened #header_right {
        transform: translateX(0);;
    }
    .xphone_top {
        padding: 0 10px;
    }
    .xphone_top a {
        line-height: 2;
    }


    /* content */
    #center_column {
        width: 100%;
        float: none;
        text-align: center;
    }

    .gridmain figure {
        float: none !important;
        margin: 5px auto !important;
    }

    .content_sortPagiBar .display, .content_sortPagiBar .sortPagiBar .nbrItemPage {
        display: none !important;
    }

    ul.product_list.grid > li {
        float: none;
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    #more_info_sheets {
        text-align: left;
    }
    #productscategory-products_block_center {
        display: none;
    }

    .st_blog_recent_article {
        text-align: left;
    }

    #ooc_window {
        width: 300px;
        margin-left: -150px;
    }
    #ooc_window label {
        text-align: center;
    }


    /* footer */
    #footer .block {
        width: 260px;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    #footer .title_block {
        text-align: center;
    }


    #rightbar, #callme {
        display: none;
    }

    .dark-overlay {
        position: fixed;
        z-index: 90;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        cursor: pointer;
    }


}